<div class="container">
  <header class="header">
    <span class="header__logo-wrapper">
      <img
        src="../assets/img/logo.svg"
        alt=""
        class="header__logo-wrapper__logoIcon"
      />
      <div class="header__logo-wrapper__logoText">Aster News</div>
    </span>

    <div class="header__search-latest">
      <div class="header__search-latest__search">
        <input
          class="header__search-latest__search__input"
          type="text"
          placeholder="Search for news"
        />
        <span class="header__search-latest__search__icon-wrapper"
          ><img
            src="../assets/img/search.svg"
            alt=""
            class="header__search-latest__search__icon-wrapper__icon"
        /></span>
      </div>

      <button class="header__search-latest__latest">
        <span class="header__search-latest__latest__text">
          Latest news on
          <span class="header__search-latest__latest__text__accent"
            >Covid-19</span
          >
        </span>
        <span class="header__search-latest__latest__icon-wrapper"
          ><img
            src="../assets/img/arrow-right.svg"
            alt=""
            class="header__search-latest__latest__icon-wrapper__icon"
        /></span>
      </button>
    </div>

    <div class="header__profile">
      <span class="header__profile__userIcon-wrapper">
        <img
          src="../assets/img/user.svg"
          alt=""
          class="header__profile__userIcon-wrapper__userIcon"
        />
      </span>

      <div class="header__profile__text">My Profile</div>

      <span class="header__profile__expandIcon-wrapper">
        <img
          src="../assets/img/expand.svg"
          alt=""
          class="header__profile__expandIcon-wrapper__expandIcon"
        />
      </span>
    </div>
  </header>

  <div class="wrapper">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__list__item" *ngFor="let link of links">
          <a class="nav__list__item__link">
            <span class="nav__list__item__link__icon-wrapper">
              <img
                src="../assets/img/dot.svg"
                alt=""
                class="nav__list__item__link__icon-wrapper__dot"
              />

              <img
                src="{{ link.linkIcon }}"
                alt=""
                class="nav__list__item__link__icon-wrapper__nav-icon"
              />
            </span>
            {{ link.linkText }}
          </a>
        </li>
      </ul>

      <section class="nav__subscribe-upgrade">
        <div class="nav__subscribe-upgrade__subscribe">
          <span class="nav__subscribe-upgrade__subscribe__icon-wrapper"
            ><img
              src="../assets/img/gift.svg"
              alt=""
              class="nav__subscribe-upgrade__subscribe__icon-wrapper__icon"
          /></span>
          <h3 class="nav__subscribe-upgrade__subscribe__text">
            Subscribe to Premium
          </h3>
        </div>

        <div class="nav__subscribe-upgrade__upgrade">
          <div class="nav__subscribe-upgrade__upgrade__price">
            <span class="nav__subscribe-upgrade__upgrade__price__value">$8</span
            >/m
          </div>
          <button class="nav__subscribe-upgrade__upgrade__button">
            Upgrade
          </button>
        </div>
      </section>
    </nav>

    <main class="main">
      <h2 class="main__title">Top Stories for you</h2>

      <section class="main__news-categories">
        <button
          *ngFor="let newsCategory of newsCategories"
          class="main__news-categories__category"
        >
          {{ newsCategory }}
        </button>
        <span class="main__news-categories__icon-wrapper"
          ><img
            src="../assets/img/more.svg"
            alt=""
            class="main__news-categories__category__icon-wrapper__icon"
        /></span>
      </section>

      <section class="main__news">
        <div class="main__news__first-news">
          <div class="main__news__first-news__content">
            <h3 class="main__news__first-news__content__title">
              Samsung Galaxy F22 launched in India: Price, features, other
              details
            </h3>
            <p class="main__news__first-news__content__text">
              Samsung Galaxy F22 has been launched in India. The new smartphone
              has been priced in the mid-range segment. The new smartphone is
              powered by a MediaTek chipset and features a high refresh rate
              AMOLED display.
            </p>
          </div>
          <span class="main__news__first-news__img-wrapper"
            ><img
              src="../assets/img/news-one-img.svg"
              alt=""
              class="main__news__first-news__img-wrapper__img"
          /></span>
        </div>
        <div class="main__news__other-news"></div>
      </section>
    </main>

    <aside class="aside">
      <section class="aside__weather">
        <div class="aside__weather__location">
          <h3 class="aside__weather__location__name">Coimbatore, Tamil Nadu</h3>
          <span class="aside__weather__location__icon-wrapper"
            ><img
              src="../assets/img/crosshair.svg"
              alt=""
              class="aside__weather__location__icon-wrapper__icon"
          /></span>
        </div>

        <div class="aside__weather__temperature">
          <div class="aside__weather__temperature__info">
            <h3 class="aside__weather__temperature__info__climate">Sunny</h3>
            <h3 class="aside__weather__temperature__info__degree">31</h3>
          </div>

          <span class="aside__weather__temperature__sun-icon">
            <img
              src="../assets/img/sun.svg"
              alt=""
              class="aside__weather__temperature__sun-icon_icon"
            />
          </span>
        </div>

        <div class="aside__weather__type">
          <h3
            class="aside__weather__type__degree-type aside__weather__type--celsius"
          >
            Celsius
          </h3>
          <h3
            class="aside__weather__type__degree-type aside__weather__type--fahrenheit"
          >
            Fahrenheit
          </h3>
        </div>
      </section>

      <section class="aside__job">
        <div class="aside__job__heading">
          <span class="aside__job__heading__icon-wrapper"
            ><img
              src="../assets/img/feather.svg"
              alt=""
              class="aside__job__heading__icon-wrapper__icon"
          /></span>

          <h3 class="aside__job__heading__text">Become a Story Writer</h3>
        </div>

        <div class="aside__job__body">
          <p class="aside__job__body__text">
            Contribute stories and start earning.
          </p>
          <button class="aside__job__body__button">Know More</button>
        </div>
      </section>

      <section class="aside__news">
        <div class="aside__news__heading">
          <div class="aside__news__heading__content">
            <span class="aside__news__heading__content__icon-wrapper"
              ><img
                src="../assets/img/file-text.svg"
                alt=""
                class="aside__news__heading__content__icon-wrapper__icon"
            /></span>
            <h3 class="aside__news__heading__content__text">Quick Bytes</h3>
          </div>

          <div class="aside__news__heading__nav">
            <span class="aside__news__heading__nav__icon-wrapper"
              ><img
                src="../assets/img/previous.svg"
                alt=""
                class="aside__news__heading__nav__icon-wrapper__icon" /></span
            ><span class="aside__news__heading__nav__icon-wrapper"
              ><img
                src="../assets/img/next.svg"
                alt=""
                class="aside__news__heading__nav__icon-wrapper__icon"
            /></span>
          </div>
        </div>

        <div class="aside__news__body">
          <p class="aside__news__body__text">
            The price of petrol remained unchanged on July 6 after reaching a
            new record high on the previous day, according to a price
            notification by state-owned fuel retailers. The diesel price
            remained stable for the second consecutive day.
          </p>
          <p class="aside__news__body__text">
            The increase on July 5, 35th in two months, took the petrol price in
            Delhi closer to Rs 100 per litre-mark. The petrol price in the
            national capital soared to Rs 99.9 a litre and diesel was priced at
            Rs 89.4 per litre, according to Bharat Petroleum's price listing.
          </p>
        </div>

        <div class="aside__news__footer">
          <span class="aside__news__footer__icon-wrapper"
            ><img
              src="../assets/img/Ellipse 3.svg"
              alt=""
              class="aside__news__footer__icon-wrapper__icon aside__news__footer__icon-wrapper__icon--current"
          /></span>
          <span class="aside__news__footer__icon-wrapper"
            ><img
              src="../assets/img/Ellipse 4.svg"
              alt=""
              class="aside__news__footer__icon-wrapper__icon"
          /></span>
          <span class="aside__news__footer__icon-wrapper"
            ><img
              src="../assets/img/Ellipse 5.svg"
              alt=""
              class="aside__news__footer__icon-wrapper__icon"
          /></span>
          <span class="aside__news__footer__icon-wrapper"
            ><img
              src="../assets/img/Ellipse 6.svg"
              alt=""
              class="aside__news__footer__icon-wrapper__icon"
          /></span>
          <span class="aside__news__footer__icon-wrapper"
            ><img
              src="../assets/img/Ellipse 7.svg"
              alt=""
              class="aside__news__footer__icon-wrapper__icon"
          /></span>
          <span class="aside__news__footer__icon-wrapper"
            ><img
              src="../assets/img/Ellipse 8.svg"
              alt=""
              class="aside__news__footer__icon-wrapper__icon"
          /></span>
        </div>
      </section>

      <section class="aside__newsletter">
        <div class="aside__newsletter__header">Subscribe to our newsletter</div>

        <div class="aside__newsletter__form">
          <input
            type="text"
            placeholder="Enter Email"
            class="aside__newsletter__form__email"
          />
          <input
            type="submit"
            placeholder="Subscribe"
            class="aside__newsletter__form__subscribe"
          />
        </div>
      </section>
    </aside>
  </div>
</div>
